@import '../../pages/helpers/mixins';
@import '../../pages/helpers/variables';

.pricing-section {
  padding-top: 45px;
  padding-bottom: 68px;
  //   background-color: #30393b;
  position: relative;
  .shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-85%);
  }
  .section-title {
    padding-bottom: 0px;
    h2 {
      // color: #fff;
    }
    p {
      color: #878b90;
    }
  }
  @include desktops {
    padding-top: 80px;
    padding-bottom: 120px;
    .section-title {
      padding-bottom: 20px;
    }
  }
}

.pricing-card {
  border-top: 5px solid transparent;
  border-radius: 6px;
  padding: 24px 45px 30px;
  background-color: #fff;
  transition: 0.4s;
  margin-bottom: 30px;
  .card-head {
    padding-bottom: 18px;
    h6 {
      color: #666666;
      font-family: 'Karla', sans-serif;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 0.43px;
      line-height: 32px;
      text-transform: uppercase;
      margin-bottom: 22px;
    }
    h2 {
      .small-title {
        color: #1f1f1f;
        font-family: 'Karla', sans-serif;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: -1.2px;
      }
      .big-txt {
        color: #1f1f1f;
        font-family: 'Karla', sans-serif;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: -2px;
        line-height: 60px;
        &:before {
          position: absolute;
        }
      }
      .month {
        color: #1f1f1f;
        font-family: 'Karla', sans-serif;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: -0.68px;
      }
    }
    p {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.6px;
      line-height: 28px;
      color: #666666;
      margin-bottom: 0;
    }
  }

  .card-content {
    .pricing-list {
      li {
        color: #1f1f1f;
        font-family: 'Karla', sans-serif;
        font-size: 17px;
        font-weight: 400;
        letter-spacing: -0.42px;
        line-height: 32px;
        padding: 7px 0;
        i {
          width: 18px;
          height: 18px;
          font-size: 18px;
          color: #1f1f1f;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;
          position: relative;
          top: 4px;
        }
        &.disable-opt {
          text-decoration: line-through;
          color: #8e8e8e;
          i {
            color: #8e8e8e;
          }
        }
      }
    }
    p {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.6px;
      line-height: 28px;
      color: #666666;
      margin-bottom: 0;
    }
  }

  .card-badge {
    position: absolute;
    top: 30px;
    right: 45px;
    background-color: $primary-color-2;
    border-radius: 500px;
    height: 26px;
    color: #fff;
    width: 83px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include desktops {
      width: 60px;
    }
    @include mobile {
      width: 60px;
    }
    @include tablet {
      width: 83px;
    }
    @include large-desktops {
      width: 83px;
    }
  }

  .card-btn {
    transition: 0.4s;
    padding-top: 33px;
    padding-bottom: 5px;
    margin-left: 1px;
    .btn--primary {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -1.12px;
      padding: 0 37px;
      height: 50px;
      &:hover {
        background-color: #0d41e9;
      }
    }
  }

  &.active {
    border-top: 5px solid $primary-color-2;
  }
}

.btn--toggle-pricing {
  justify-content: center;
  height: 100%;
  p {
    color: #fff;
  }
  p:last-child {
    padding-right: 0;
  }
}

.pricing-extra-info {
  margin-top: 0px;
  p {
    display: flex;
    justify-content: center;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.32px;
    @include mobile {
      font-size: 16px;
    }
    @include tablet {
      font-size: 17px;
    }
  }
  span {
    color: #878b90;
    font-size: inherit;
  }
  a {
    color: #fff;
    margin-left: 8px;
    &:hover {
      text-decoration: underline;
    }
  }
  @include desktops {
    margin-top: 30px;
  }
}

[class*='btn--toggle-'] {
  display: flex;
  align-items: center;
  padding-bottom: 35px;
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 12px;
    margin-bottom: 0;
  }
  span {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.51px;
    text-transform: uppercase;
    color: #4eab08;
    background-color: rgba(78, 171, 8, 0.14);
    padding: 0 15px;
    border-radius: 5px;
  }
  .badge--discount {
    height: 26px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    padding: 0;
    text-align: center;
    justify-content: center;
    width: 83px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 25px;
    margin-bottom: 0;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #e5e5e5;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $primary-color;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #fff;
    border: 1px solid #e5e5e5;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #fff;
  }

  input:checked + .slider:before {
    transform: translateX(21px) translateY(-50%);
    background-color: $primary-color;
  }

  // Rounded sliders /
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

/* pricng toggle */

.custom-tab-wrapper {
  &.monthly {
    [data-monthly] {
      visibility: hidden;
      &:before {
        content: attr(data-monthly);
        visibility: visible;
        display: inline-block;
      }
    }
  }
  &.yearly {
    [data-yearly] {
      visibility: hidden;
      &:before {
        content: attr(data-yearly);
        visibility: visible;
        display: inline-block;
      }
    }
  }
}
