.brands {
  text-align: center;
  padding: 90px 0 20px;
  background: #fafbfc;
  .brand-icons {
    font-size: 32px;
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
  }
}
h1 {
  font-size: 36px;
  font-weight: 700;
}
h4 {
  font-size: 22px;
  font-weight: normal;
  span {
    font-weight: 700;
  }
}
.description {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  font-size: 22px;
}

a {
  text-decoration: none;
}

.main {
  padding: 10vh 20px;
  text-align: center;

  .install-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 64px;
  }

  .install-button {
    cursor: pointer;
    user-select: none;
    transition: background 120ms ease-in 0s;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    height: 36px;
    border-radius: 3px;
    color: rgb(235, 87, 87);
    font-size: 14px;
    line-height: 1;
    padding-left: 12px;
    padding-right: 12px;
    background: rgba(235, 87, 87, 0.06);
    font-weight: 500;
    box-shadow: rgba(15, 15, 15, 0.1) 0px 1px 2px, rgba(235, 87, 87, 0.3) 0px 0px 0px 1px inset;
    svg {
      margin-right: 8px;
    }
    svg:last-of-type {
      fill: rgb(235, 87, 87);
    }
  }
}
