.brands {
  text-align: center;
  padding: 90px 0 20px;
  background: #fafbfc;
  .brand-icons {
    font-size: 32px;
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
  }
}
h1 {
  font-weight: 700;
}
.description {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  font-size: 22px;
}

.main {
  padding: 10vh 20px;
  text-align: center;
}
